<footer class="site-footer">

<div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
        <hr>
        <a href="http://validator.w3.org/check?uri=http%3A%2F%2Fonnilampi.fi%2F">
            <img src="{{site.url}}/img/html5.png"
                 alt="HTML5 checks out!"
                 height="40">
        </a>
        <!--<a href="https://gitlab.com/u/omnez">
            <img src="img/gitlab.png"
            alt="My gitlab, recently migrated from GitHub. Full of embarassing shit."
            height="40">
            </a>-->
            <a href="https://github.com/onnilampi">
                <img src="{{site.url}}/img/github.png"
                     alt="My github."
                     height="40">
            </a>
            <a href="https://heko.org">
                <img src="{{site.url}}/img/heko.jpg"
                     alt="Partiolippukunta Helsingin Kotkat"
                     height="40">
            </a>
            <a href="http://as.ayy.fi">
                <img src="{{site.url}}/img/as_notext.png"
                     alt="AS-kilta"
                     height="40">
            </a>
            <a href="http://cec.ayy.fi">
                <img src="{{site.url}}/img/cec.png"
                     alt="TLT-klubi"
                     height="40">
            </a>

            <a href="https://walpuri.org">
                <img src="{{site.url}}/img/naama1.jpg"
                     alt="Walpurinaikaisen radiotoiminnan tuki Walpuri ry"
                     height="40">
            </a>

            <a href="rauta.html">
                <img src="{{site.url}}/img/tux.png"
                     alt="The awesome hardware this web page runs in! :)"
                     height="40">
            </a> 

    </div>

</div>

</footer>
