---
layout: page
title: My blog
permalink: /blog/
---

Welcome to my blog. I don't have any particular purpose for this, just thought it would be nice to have an option to create blog posts to a site that doesn't look revolting. Depending on the subject, the language of a post may be finnish or english.
<br>
<br>
<br>
{% for post in site.posts %}
{% if post.language contains 'en' %}
<img src="{{site.url}}/img/en.png"
     width=15px>
<time>{{ post.date | date: "%b %-d, %Y" }}</time> - <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
{% endif  %}
{% if post.language contains 'fin' %}
<img src="{{site.url}}/img/fin.png"
     width=15px>
<time>{{ post.date | date: "%b %-d, %Y" }}</time> - <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
{% endif  %}
{% endfor %}

