---
layout: default
---

<img id="banner" src="img/banner.jpg">
<h2>Welcome!</h2>

I'm a 24 year old student from Helsinki, currently living in Otaniemi, Espoo. I maintain this site because I wanted to provide people googling my name with up to date information. I update this site (or the content of the linked files) whenever needed, currently about once a month. I'm happy to receive feedback or improvements about this site in the form of a pull request on github.

<h3>Latest posts in my blog</h3>
{% assign count = 0 %}
{% for post in site.posts limit:5 %}
{% if count < 10 %}
{% if post.language contains 'en' %}
<img src="{{site.url}}/img/en.png"
     width=15px>
<time>{{ post.date | date: "%b %-d, %Y" }}</time> - <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
{% endif  %}
{% if post.language contains 'fin' %}
<img src="{{site.url}}/img/fin.png"
     width=15px>
<time>{{ post.date | date: "%b %-d, %Y" }}</time> - <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br>
{% endif  %}
{% endif %}
{% endfor %}

